<h1>Customers</h1>
<div>
    <!-- List of all of the customers -->
    <p>Select a customer.</p>
    <ul>
        <li *ngFor="let cust of customers"
            [ngClass] = "{selected: customer === cust}"
            (click)="customer = cust">{{cust.name}}</li>
    </ul>
    <h1>{{customer.name}}</h1>
    <!-- Customer details -->

    <div *ngIf="customer">
        <p><i>{{customer.name}} is in the {{customer.address.region}} region.</i></p>
        <br>
        <fieldset>
            <label>Name: <input [(ngModel)]="customer.name"></label><br>
        </fieldset>
        <div>
            <label><input type="checkbox" [(ngModel)]="hide_address"> Hide Address</label>
            <br>
            <br>
            <div *ngIf ="!hide_address">
                {{customer.address.street}}
                <br>
                {{customer.address.city}}
                {{customer.address.state}}
                <br>
                {{customer.address.region}}
                <br>
                <br>
                <br>
                <label>Street: <input [(ngModel)]="customer.address.street"></label><br>
                <label>City: <input [(ngModel)]="customer.address.city"></label><br>
                <label>State: 
                    <select [(ngModel)]="customer.address.state">
                        <option *ngFor="let state of states">{{state}}</option>
                    </select>
                </label>
                <label>Region: 
                    <select [(ngModel)]="customer.address.region">
                        <option *ngFor="let region of regions">{{region}}</option>
                    </select>
                </label>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
