<h1>
    <button (click)="left()"> <- </button>
    {{customer.name}}
    <button (click)="right()"> -> </button>
</h1>
<div *ngIf="customer">
    <p><i>{{customer.name}} is in the {{customer.address.region}} region.</i></p>
    <br>
    <fieldset>
        <label>Name: <input [(ngModel)]="customer.name"></label><br>
    </fieldset>
    <label><input type="checkbox" [(ngModel)]="hide_address"> Hide Address</label>
    <br>
    <br>
    <div *ngIf ="!hide_address">
        <address-comp [address]='customer.address'></address-comp>
    </div>
</div>
